In [36]:
import pandas as pd

In [37]:
#reading data in df
college_data1=pd.read_excel("../Data/Colleges_and_universities_usa.xlsx")
college_data1.head()

,School Name,Address,City,State,Zipcode,Type,Degrees Offered,Campus Setting,Campus Housing,Student Population,Undergraduate Students,Public/Private,Published In-state Tuition and Fees ($),Published Out-of-state Tuition and Fees ($),Profile Link to College Navigator
0,\tEducational Technical College-Recinto de Bay...,CALLE SANTA CRUZ #28,BAYAMON,Puerto Rico,00961,At least 2 but less than 4 years,"One but less than two years certificate , Asso...",Suburb,No,149.0,149.0,Private For-Profit,NaN,NaN,http://nces.ed.gov/collegenavigator/?id=240985
1,A T Still University of Health Sciences,800 W Jefferson,Kirksville,Missouri,63501,Four or more years,"Postbaccalaureate certificate , Master's degre...",Town,Yes,3717.0,0.0,Public Non-Profit,NaN,NaN,http://nces.ed.gov/collegenavigator/?id=177834
2,Aaniiih Nakoda College,269 Blackfeet Avenue Agency,Harlem,Montana,59526,At least 2 but less than 4 years,"Less than one year certificate , One but less ...",Rural,No,150.0,150.0,Public,2410.0,2410.0,http://nces.ed.gov/collegenavigator/?id=180203
3,ABC Adult School,12254 Cuesta Drive,Cerritos,California,90703-2801,Less than 2 years (below associate),"Less than one year certificate , One but less ...",Suburb,No,90.0,90.0,Public,NaN,NaN,http://nces.ed.gov/collegenavigator/?id=491464
4,ABC Adult School - Cabrillo Lane,20122 Cabrillo Lane,Cerritos,California,90703-7748,NaN,NaN,Suburb,No,NaN,NaN,NaN,NaN,NaN,http://nces.ed.gov/collegenavigator/?id=493105

In [38]:
college_data1_df=college_data1.apply(lambda x: x.astype(str).str.upper())

In [39]:
college_data1_df.head()

,School Name,Address,City,State,Zipcode,Type,Degrees Offered,Campus Setting,Campus Housing,Student Population,Undergraduate Students,Public/Private,Published In-state Tuition and Fees ($),Published Out-of-state Tuition and Fees ($),Profile Link to College Navigator
0,\tEDUCATIONAL TECHNICAL COLLEGE-RECINTO DE BAY...,CALLE SANTA CRUZ #28,BAYAMON,PUERTO RICO,00961,AT LEAST 2 BUT LESS THAN 4 YEARS,"ONE BUT LESS THAN TWO YEARS CERTIFICATE , ASSO...",SUBURB,NO,149.0,149.0,PRIVATE FOR-PROFIT,NAN,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=240985
1,A T STILL UNIVERSITY OF HEALTH SCIENCES,800 W JEFFERSON,KIRKSVILLE,MISSOURI,63501,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGRE...",TOWN,YES,3717.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=177834
2,AANIIIH NAKODA COLLEGE,269 BLACKFEET AVENUE AGENCY,HARLEM,MONTANA,59526,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",RURAL,NO,150.0,150.0,PUBLIC,2410.0,2410.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=180203
3,ABC ADULT SCHOOL,12254 CUESTA DRIVE,CERRITOS,CALIFORNIA,90703-2801,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",SUBURB,NO,90.0,90.0,PUBLIC,NAN,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=491464
4,ABC ADULT SCHOOL - CABRILLO LANE,20122 CABRILLO LANE,CERRITOS,CALIFORNIA,90703-7748,NAN,NAN,SUBURB,NO,NAN,NAN,NAN,NAN,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=493105

In [40]:
college_data1_df.columns= college_data1.columns.str.upper()

In [41]:
college_data1_df.columns

Index(['SCHOOL NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'TYPE',
       'DEGREES OFFERED', 'CAMPUS SETTING', 'CAMPUS HOUSING',
       'STUDENT POPULATION', 'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)',
       'PROFILE LINK TO COLLEGE NAVIGATOR'],
      dtype='object')

In [42]:
college_data1_df.rename(columns={"SCHOOL NAME":"NAME","ZIPCODE":"ZIP"}, inplace=True)
college_data1_df.columns

Index(['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'TYPE', 'DEGREES OFFERED',
       'CAMPUS SETTING', 'CAMPUS HOUSING', 'STUDENT POPULATION',
       'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)',
       'PROFILE LINK TO COLLEGE NAVIGATOR'],
      dtype='object')

In [76]:
college_data1_df.head()
college_data1_df[college_data1_df['NAME']=='STANFORD UNIVERSITY']

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION,UNDERGRADUATE STUDENTS,PUBLIC/PRIVATE,PUBLISHED IN-STATE TUITION AND FEES ($),PUBLISHED OUT-OF-STATE TUITION AND FEES ($),PROFILE LINK TO COLLEGE NAVIGATOR
5316,STANFORD UNIVERSITY,,STANFORD,CALIFORNIA,94305,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , POST-MAS...",SUBURB,YES,17381.0,7087.0,PUBLIC NON-PROFIT,51354.0,51354.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=243744

In [44]:
college_data2=pd.read_csv("../Data/Colleges_and_Universities.csv")
college_data2.head()

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-8.765605e+06,5.318192e+06,1,189556,BRYANT & STRATTON COLLEGE-AMHERST,3650 MILLERSPORT HIGHWAY,GETZVILLE,NY,14068,NOT AVAILABLE,...,NOT AVAILABLE,6,1,141,176,317,2,-999,79,NOT AVAILABLE
1,-8.231383e+06,4.975222e+06,2,190682,CUNY SCHOOL OF LAW,2 COURT SQUARE,LONG ISLAND CITY,NY,11101,NOT AVAILABLE,...,LAW SCHOOL | CUNY LAW SCHOOL,18,1,165,418,583,2,-999,201,NOT AVAILABLE
2,-8.247285e+06,5.032103e+06,3,195058,ROCKLAND COMMUNITY COLLEGE,145 COLLEGE RD,SUFFERN,NY,10901,3699,...,NOT AVAILABLE,3,3,3317,3542,6859,2,-999,901,NOT AVAILABLE
3,-8.208890e+06,5.008471e+06,4,193122,SOUTHERN WESTCHESTER BOCES-PRACTICAL NURSING P...,450 MAMARONECK AVENUE,HARRISON,NY,10528,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,54,52,106,2,-999,31,NOT AVAILABLE
4,-8.969252e+06,4.965197e+06,5,204884,OHIO VALLEY COLLEGE OF TECHNOLOGY,15258 STATE ROUTE 170,EAST LIVERPOOL,OH,43920,9585,...,NOT AVAILABLE,1,1,25,176,201,2,-999,30,NOT AVAILABLE

In [75]:
college_data2.columns
college_data2[college_data2['NAME']=='STANFORD UNIVERSITY']

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
3154,-1.360047e+07,4.499632e+06,3155,243744,STANFORD UNIVERSITY,NOT AVAILABLE,STANFORD,CA,94305,NOT AVAILABLE,...,NOT AVAILABLE,17,4,1049,16332,17381,1,12614,18655,NOT AVAILABLE

In [46]:
cols=['NAME','ADDRESS','CITY','STATE','ZIP','TELEPHONE','POPULATION','LATITUDE','LONGITUDE','WEBSITE']
college_data2_df=college_data2[cols].copy()
college_data2_df.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TELEPHONE,POPULATION,LATITUDE,LONGITUDE,WEBSITE
0,BRYANT & STRATTON COLLEGE-AMHERST,3650 MILLERSPORT HIGHWAY,GETZVILLE,NY,14068,(716) 625-6300,396,43.040850,-78.742765,https://www.bryantstratton.edu
1,CUNY SCHOOL OF LAW,2 COURT SQUARE,LONG ISLAND CITY,NY,11101,(718) 340-4200,784,40.747863,-73.943769,www.law.cuny.edu
2,ROCKLAND COMMUNITY COLLEGE,145 COLLEGE RD,SUFFERN,NY,10901,(845) 574-4000,7760,41.133841,-74.086622,www.sunyrockland.edu/
3,SOUTHERN WESTCHESTER BOCES-PRACTICAL NURSING P...,450 MAMARONECK AVENUE,HARRISON,NY,10528,(914) 592-0849,137,40.973755,-73.741713,www.swboces.org
4,OHIO VALLEY COLLEGE OF TECHNOLOGY,15258 STATE ROUTE 170,EAST LIVERPOOL,OH,43920,(330) 385-1070,231,40.679602,-80.572164,ovct.edu

In [47]:
college_data1_df.isnull().sum()

NAME                                           0
ADDRESS                                        0
CITY                                           0
STATE                                          0
ZIP                                            0
TYPE                                           0
DEGREES OFFERED                                0
CAMPUS SETTING                                 0
CAMPUS HOUSING                                 0
STUDENT POPULATION                             0
UNDERGRADUATE STUDENTS                         0
PUBLIC/PRIVATE                                 0
PUBLISHED IN-STATE TUITION AND FEES ($)        0
PUBLISHED OUT-OF-STATE TUITION AND FEES ($)    0
PROFILE LINK TO COLLEGE NAVIGATOR              0
dtype: int64

In [48]:
college_data1_df.columns

Index(['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'TYPE', 'DEGREES OFFERED',
       'CAMPUS SETTING', 'CAMPUS HOUSING', 'STUDENT POPULATION',
       'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)',
       'PROFILE LINK TO COLLEGE NAVIGATOR'],
      dtype='object')

In [49]:
college_data2_df.columns

Index(['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'TELEPHONE', 'POPULATION',
       'LATITUDE', 'LONGITUDE', 'WEBSITE'],
      dtype='object')

In [50]:
college_data1_df.dtypes

NAME                                           object
ADDRESS                                        object
CITY                                           object
STATE                                          object
ZIP                                            object
TYPE                                           object
DEGREES OFFERED                                object
CAMPUS SETTING                                 object
CAMPUS HOUSING                                 object
STUDENT POPULATION                             object
UNDERGRADUATE STUDENTS                         object
PUBLIC/PRIVATE                                 object
PUBLISHED IN-STATE TUITION AND FEES ($)        object
PUBLISHED OUT-OF-STATE TUITION AND FEES ($)    object
PROFILE LINK TO COLLEGE NAVIGATOR              object
dtype: object

In [51]:
college_data2_df.dtypes

NAME           object
ADDRESS        object
CITY           object
STATE          object
ZIP             int64
TELEPHONE      object
POPULATION      int64
LATITUDE      float64
LONGITUDE     float64
WEBSITE        object
dtype: object

In [52]:
#college_data2.astype({'ZIP': str}).dtypes
college_data2_df['ZIP'] = college_data2_df['ZIP'].astype(str)

In [53]:
college_data2_df.dtypes

NAME           object
ADDRESS        object
CITY           object
STATE          object
ZIP            object
TELEPHONE      object
POPULATION      int64
LATITUDE      float64
LONGITUDE     float64
WEBSITE        object
dtype: object

In [82]:
college_data=pd.merge(college_data1_df,college_data2_df,how='inner', on=['NAME','CITY'])
college_data.columns

Index(['NAME', 'ADDRESS_x', 'CITY', 'STATE_x', 'ZIP_x', 'TYPE',
       'DEGREES OFFERED', 'CAMPUS SETTING', 'CAMPUS HOUSING',
       'STUDENT POPULATION', 'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)',
       'PROFILE LINK TO COLLEGE NAVIGATOR', 'ADDRESS_y', 'STATE_y', 'ZIP_y',
       'TELEPHONE', 'POPULATION', 'LATITUDE', 'LONGITUDE', 'WEBSITE'],
      dtype='object')

In [83]:
college_data.head(20)

,NAME,ADDRESS_x,CITY,STATE_x,ZIP_x,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION,...,PUBLISHED OUT-OF-STATE TUITION AND FEES ($),PROFILE LINK TO COLLEGE NAVIGATOR,ADDRESS_y,STATE_y,ZIP_y,TELEPHONE,POPULATION,LATITUDE,LONGITUDE,WEBSITE
0,A T STILL UNIVERSITY OF HEALTH SCIENCES,800 W JEFFERSON,KIRKSVILLE,MISSOURI,63501,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGRE...",TOWN,YES,3717.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=177834,800 W JEFFERSON,MO,63501,(660) 626-2121,5123,40.193615,-92.589319,WWW.ATSU.EDU
1,AANIIIH NAKODA COLLEGE,269 BLACKFEET AVENUE AGENCY,HARLEM,MONTANA,59526,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",RURAL,NO,150.0,...,2410.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=180203,269 BLACKFEET AVENUE AGENCY,MT,59526,(406) 353-2607,201,48.484175,-108.757941,www.ancollege.edu
2,ABC ADULT SCHOOL,12254 CUESTA DRIVE,CERRITOS,CALIFORNIA,90703-2801,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",SUBURB,NO,90.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=491464,12254 CUESTA DRIVE,CA,90703,(562) 229-7960,172,33.878198,-118.070110,https://www.abcadultschool.com
3,ABC ADULT SCHOOL - CABRILLO LANE,20122 CABRILLO LANE,CERRITOS,CALIFORNIA,90703-7748,NAN,NAN,SUBURB,NO,NAN,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=493105,20122 CABRILLO LANE,CA,90703,NOT AVAILABLE,-999,33.847279,-118.078939,NOT AVAILABLE
4,ABC BEAUTY ACADEMY,2109 BUCKINGHAM RD.,RICHARDSON,TEXAS,75081,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,33.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=459523,2109 BUCKINGHAM RD.,TX,75081,(469) 872-0889,46,32.929838,-96.684379,www.abcbeautyacademy.webs.com
5,ABCO TECHNOLOGY,11222 S. LA CIENEGA BLVD STE 588,INGLEWOOD,CALIFORNIA,90304-1551,LESS THAN 2 YEARS (BELOW ASSOCIATE),LESS THAN ONE YEAR CERTIFICATE,SUBURB,NO,65.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=485500,11222 S. LA CIENEGA BLVD STE 588,CA,90304,(310) 216-3067,85,33.932126,-118.369813,www.abcotechnology.edu
6,ABCOTT INSTITUTE,"16250 NORTHLAND DRIVE, SUITE 205",SOUTHFIELD,MICHIGAN,48075-5227,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,60.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=461892,"16250 NORTHLAND DRIVE, SUITE 205",MI,48075,(248) 440-0102,98,42.446349,-83.210624,www.abcott.edu
7,ABDILL CAREER COLLEGE INC,843 E MAIN STE 203,MEDFORD,OREGON,97504-7137,LESS THAN 2 YEARS (BELOW ASSOCIATE),LESS THAN ONE YEAR CERTIFICATE,CITY,NO,NAN,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=208123,843 E MAIN STE 203,OR,97504,(541) 779-8384,-999,42.328145,-122.863066,www.abdill.com
8,ABILENE CHRISTIAN UNIVERSITY,,ABILENE,TEXAS,79699,FOUR OR MORE YEARS,"LESS THAN ONE YEAR CERTIFICATE , ASSOCIATE'S D...",CITY,YES,5204.0,...,34850.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=222178,NOT AVAILABLE,TX,79699,(325) 674-2000,6157,32.468903,-99.709765,www.acu.edu
9,ABRAHAM BALDWIN AGRICULTURAL COLLEGE,2802 MOORE HWY,TIFTON,GEORGIA,31793-2601,FOUR OR MORE YEARS,"LESS THAN ONE YEAR CERTIFICATE , ASSOCIATE'S D...",TOWN,YES,4291.0,...,10241.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=138558,2802 MOORE HWY,GA,31793,(229) 391-5001,4849,31.481930,-83.528285,www.abac.edu
10,ACADEMY COLLEGE,"1600 W. 82ND STREET, SUITE 100",BLOOMINGTON,MINNESOTA,55431-1411,FOUR OR MORE YEARS,"ASSOCIATE'S DEGREE , BACHELOR'S DEGREE",CITY,NO,99.0,...,17661.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=172866,"1600 W. 82ND STREET, SUITE 100",MN,55431,(952) 851-0066,130,44.855829,-93.299866,www.academycollege.edu
11,ACADEMY DI CAPELLI-SCHOOL OF COSMETOLOGY,950 YALE AVE UNIT 20,WALLINGFORD,CONNECTICUT,06492,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",SUBURB,NO,208.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=449463,950 YALE AVE UNIT 20,CT,6492,(203) 294-4960,249,41.489932,-72.806856,www.academydicapelli.com
12,ACADEMY DI FIRENZE,149 WEST MAIN STREET,JEROME,IDAHO,83338-2329,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",TOWN,NO,14.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=476957,149 WEST MAIN STREET,ID,83338,(208) 644-1546,17,42.723883,-114.519866,www.academydifirenze.com
13,ACADEMY FOR CAREERS AND TECHNOLOGY,2697 E HWY 76,MULLINS,SOUTH CAROLINA,29574-6009,LESS THAN 2 YEARS (BELOW ASSOCIATE),ONE BUT LESS THAN TWO YEARS CERTIFICATE,RURAL,NO,41.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=457989,2697 E HWY 76,SC,29574,(843) 423-1941,47,34.186438,-79.340132,www.mcact.org
14,ACADEMY FOR FIVE ELEMENT ACUPUNCTURE,305 SE 2ND AVE,GAINESVILLE,FLORIDA,32601,FOUR OR MORE YEARS,MASTER'S DEGREE,CITY,NO,59.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=451079,305 SE 2ND AVE,FL,32601,(352) 335-2332,70,29.650087,-82.321980,www.acupuncturist.edu
15,ACADEMY FOR JEWISH RELIGION-CALIFORNIA,574 HILGARD AVENUE,LOS ANGELES,CALIFORNIA,90024,FOUR OR MORE YEARS,MASTER'S DEGREE,CITY,NO,54.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=457271,574 HILGARD AVENUE,CA,90024,(213) 884-4133,77,34.070311,-118.438536,www.ajrca.edu
16,ACADEMY FOR NURSING AND HEALTH OCCUPATIONS,5154 OKEECHOBEE BLVD STE 201,WEST PALM BEACH,FLORIDA,33417,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",SUBURB,NO,466.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=412173,5154 OKEECHOBEE BLVD STE 201,FL,33417,(561) 683-1400,503,26.706549,-80.121472,www.ANHO.edu
17,ACADEMY FOR SALON PROFESSIONALS,19520 NORDHOFF ST. UNIT 9,NORTHRIDGE,CALIFORNIA,91324,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,81.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=462062,19520 NORDHOFF ST. UNIT 9,CA,91324,(818) 701-5799,90,34.234187,-118.558199,www.academyla.com/
18,ACADEMY OF ART UNIVERSITY,79 NEW MONTGOMERY,SAN FRANCISCO,CALIFORNIA,94105,FOUR OR MORE YEARS,"ASSOCIATE'S DEGREE , TOW BUT LESS THAN 4 YEARS...",CITY,YES,10616.0,...,22308.0,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=108232,79 NEW MONTGOMERY,CA,94105,(800) 544-2787,12656,37.787788,-122.400694,www.academyart.edu
19,ACADEMY OF CAREER TRAINING,3501 W VINE ST STE 111,KISSIMMEE,FLORIDA,34741,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,46.0,...,NAN,HTTP://NCES.ED.GOV/COLLEGENAVIGATOR/?ID=451097,3501 W VINE ST STE 111,FL,34741,(407) 943-8777,59,28.306095,-81.439561,academyofcareertraining.com

In [84]:
college_data.count()

NAME                                           6724
ADDRESS_x                                      6724
CITY                                           6724
STATE_x                                        6724
ZIP_x                                          6724
TYPE                                           6724
DEGREES OFFERED                                6724
CAMPUS SETTING                                 6724
CAMPUS HOUSING                                 6724
STUDENT POPULATION                             6724
UNDERGRADUATE STUDENTS                         6724
PUBLIC/PRIVATE                                 6724
PUBLISHED IN-STATE TUITION AND FEES ($)        6724
PUBLISHED OUT-OF-STATE TUITION AND FEES ($)    6724
PROFILE LINK TO COLLEGE NAVIGATOR              6724
ADDRESS_y                                      6724
STATE_y                                        6724
ZIP_y                                          6724
TELEPHONE                                      6724
POPULATION                                     6724
LATITUDE                                       6724
LONGITUDE                                      6724
WEBSITE                                        6724
dtype: int64

In [85]:
college_data.columns

Index(['NAME', 'ADDRESS_x', 'CITY', 'STATE_x', 'ZIP_x', 'TYPE',
       'DEGREES OFFERED', 'CAMPUS SETTING', 'CAMPUS HOUSING',
       'STUDENT POPULATION', 'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)',
       'PROFILE LINK TO COLLEGE NAVIGATOR', 'ADDRESS_y', 'STATE_y', 'ZIP_y',
       'TELEPHONE', 'POPULATION', 'LATITUDE', 'LONGITUDE', 'WEBSITE'],
      dtype='object')

In [86]:
cols=['NAME','ADDRESS_x','CITY','STATE_y','ZIP_x','TYPE',
       'DEGREES OFFERED', 'CAMPUS SETTING', 'CAMPUS HOUSING',
       'STUDENT POPULATION', 'UNDERGRADUATE STUDENTS', 'PUBLIC/PRIVATE',
       'PUBLISHED IN-STATE TUITION AND FEES ($)',
       'PUBLISHED OUT-OF-STATE TUITION AND FEES ($)', 'TELEPHONE', 'POPULATION', 'LATITUDE', 'LONGITUDE', 'WEBSITE']
college_data_df=college_data[cols].copy()

In [87]:
college_data_df.head()
college_data_df.count()

NAME                                           6724
ADDRESS_x                                      6724
CITY                                           6724
STATE_y                                        6724
ZIP_x                                          6724
TYPE                                           6724
DEGREES OFFERED                                6724
CAMPUS SETTING                                 6724
CAMPUS HOUSING                                 6724
STUDENT POPULATION                             6724
UNDERGRADUATE STUDENTS                         6724
PUBLIC/PRIVATE                                 6724
PUBLISHED IN-STATE TUITION AND FEES ($)        6724
PUBLISHED OUT-OF-STATE TUITION AND FEES ($)    6724
TELEPHONE                                      6724
POPULATION                                     6724
LATITUDE                                       6724
LONGITUDE                                      6724
WEBSITE                                        6724
dtype: int64

In [88]:
college_data_df.rename(columns={"ADDRESS_x":"ADDRESS","STATE_y":"STATE","ZIP_x":"ZIP"}, inplace=True)
college_data_df.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION,UNDERGRADUATE STUDENTS,PUBLIC/PRIVATE,PUBLISHED IN-STATE TUITION AND FEES ($),PUBLISHED OUT-OF-STATE TUITION AND FEES ($),TELEPHONE,POPULATION,LATITUDE,LONGITUDE,WEBSITE
0,A T STILL UNIVERSITY OF HEALTH SCIENCES,800 W JEFFERSON,KIRKSVILLE,MO,63501,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGRE...",TOWN,YES,3717.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(660) 626-2121,5123,40.193615,-92.589319,WWW.ATSU.EDU
1,AANIIIH NAKODA COLLEGE,269 BLACKFEET AVENUE AGENCY,HARLEM,MT,59526,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",RURAL,NO,150.0,150.0,PUBLIC,2410.0,2410.0,(406) 353-2607,201,48.484175,-108.757941,www.ancollege.edu
2,ABC ADULT SCHOOL,12254 CUESTA DRIVE,CERRITOS,CA,90703-2801,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",SUBURB,NO,90.0,90.0,PUBLIC,NAN,NAN,(562) 229-7960,172,33.878198,-118.070110,https://www.abcadultschool.com
3,ABC ADULT SCHOOL - CABRILLO LANE,20122 CABRILLO LANE,CERRITOS,CA,90703-7748,NAN,NAN,SUBURB,NO,NAN,NAN,NAN,NAN,NAN,NOT AVAILABLE,-999,33.847279,-118.078939,NOT AVAILABLE
4,ABC BEAUTY ACADEMY,2109 BUCKINGHAM RD.,RICHARDSON,TX,75081,LESS THAN 2 YEARS (BELOW ASSOCIATE),"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,33.0,33.0,PRIVATE FOR-PROFIT,NAN,NAN,(469) 872-0889,46,32.929838,-96.684379,www.abcbeautyacademy.webs.com

In [99]:
college_data_df[college_data_df["CITY"]=='BERKELEY']

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION,UNDERGRADUATE STUDENTS,PUBLIC/PRIVATE,PUBLISHED IN-STATE TUITION AND FEES ($),PUBLISHED OUT-OF-STATE TUITION AND FEES ($),TELEPHONE,POPULATION,LATITUDE,LONGITUDE,WEBSITE
50,ACUPUNCTURE AND INTEGRATIVE MEDICINE COLLEGE-B...,2550 SHATTUCK AVENUE,BERKELEY,CA,94704,FOUR OR MORE YEARS,MASTER'S DEGREE,CITY,NO,90.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 666-8102,133,37.862770,-122.267629,https://www.aimc.edu
177,AMERICAN BAPTIST SEMINARY OF THE WEST,2606 DWIGHT WAY,BERKELEY,CA,94704-3029,FOUR OR MORE YEARS,"MASTER'S DEGREE , POST-MASTER'S CERTIFICATE , ...",CITY,NO,51.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 841-5237,75,37.865245,-122.256152,www.absw.edu
616,BERKELEY CITY COLLEGE,2050 CENTER SREET,BERKELEY,CA,94704,AT LEAST 2 BUT LESS THAN 4 YEARS,"LESS THAN ONE YEAR CERTIFICATE , ONE BUT LESS ...",CITY,NO,6053.0,6053.0,PUBLIC,1254.0,7806.0,(510) 981-2800,6348,37.869731,-122.269885,www.berkeleycitycollege.edu/wp/
913,CALIFORNIA JAZZ CONSERVATORY,2087 ADDISON STREET,BERKELEY,CA,94704-1268,FOUR OR MORE YEARS,"ASSOCIATE'S DEGREE , BACHELOR'S DEGREE",CITY,NO,54.0,54.0,PUBLIC NON-PROFIT,19100.0,19100.0,(510) 845-5373,102,37.871294,-122.268656,www.cjc.edu
1251,CHURCH DIVINITY SCHOOL OF THE PACIFIC,2451 RIDGE ROAD,BERKELEY,CA,94709-1211,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGREE",CITY,YES,87.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 204-0700,133,37.876152,-122.261154,www.cdsp.edu
1769,DOMINICAN SCHOOL OF PHILOSOPHY & THEOLOGY,2301 VINE STREET,BERKELEY,CA,94708-1816,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGREE",CITY,YES,57.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 849-2030,80,37.881060,-122.264659,https://www.dspt.edu
2413,GRADUATE THEOLOGICAL UNION,2400 RIDGE RD,BERKELEY,CA,94709,FOUR OR MORE YEARS,"MASTER'S DEGREE , DOCTOR'S DEGREE - RESEARCH/S...",CITY,NO,196.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 649-2400,258,37.875585,-122.261825,WWW.GTU.EDU
2739,INSTITUTE OF BUDDHIST STUDIES,2140 DURANT AVENUE,BERKELEY,CA,94704,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGREE",CITY,YES,22.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 809-1444,36,37.866767,-122.266066,www.shin-ibs.edu
4225,PACIFIC SCHOOL OF RELIGION,1798 SCENIC AVE,BERKELEY,CA,94709,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGRE...",CITY,YES,95.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 849-8200,151,37.876611,-122.263339,www.psr.edu
5333,STARR KING SCHOOL FOR THE MINISTRY,2441 LE CONTE AVENUE,BERKELEY,CA,94709-1209,FOUR OR MORE YEARS,"POSTBACCALAUREATE CERTIFICATE , MASTER'S DEGREE",CITY,NO,86.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 845-6232,133,37.876953,-122.261770,www.sksm.edu
5717,THE WRIGHT INSTITUTE,2728 DURANT AVE,BERKELEY,CA,94704-1796,FOUR OR MORE YEARS,"MASTER'S DEGREE , DOCTOR'S DEGREE - OTHER",CITY,NO,483.0,0.0,PUBLIC NON-PROFIT,NAN,NAN,(510) 841-0101,596,37.868215,-122.253140,www.wi.edu
5994,UNIVERSITY OF CALIFORNIA-BERKELEY,200 CALIFORNIA HALL,BERKELEY,CA,94720,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , POSTBACCALAUREATE CERTIFIC...",CITY,YES,42501.0,30853.0,PUBLIC,14184.0,43176.0,(510) 642-6000,54649,37.875780,-122.248496,www.berkeley.edu
6317,VATTEROTT COLLEGE-BERKELEY,8580 EVANS AVENUE,BERKELEY,MO,63134,AT LEAST 2 BUT LESS THAN 4 YEARS,"ONE BUT LESS THAN TWO YEARS CERTIFICATE , ASSO...",SUBURB,NO,NAN,NAN,PRIVATE FOR-PROFIT,12519.0,12519.0,(314) 264-1000,-999,38.722005,-90.311891,www.vatterott.edu
6722,ZAYTUNA COLLEGE,1712 EUCLID AVENUE,BERKELEY,CA,94709,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE",CITY,YES,43.0,37.0,PUBLIC NON-PROFIT,19350.0,19350.0,(510) 900-3154,94,37.877147,-122.260817,https://www.zaytuna.edu

In [95]:
top_colleges=pd.read_csv("../Data/ranking.csv")
top_colleges.head()

,Rank,Name,Undergraduate Population,Student Population,Net Price,Average Grant Aid,Total Annual Cost,Alumni Salary,Acceptance Rate
0,1.0,Harvard University,13844.0,31120.0,14327.0,49870.0,69600.0,146800.0,5.0
1,2.0,Stanford University,8402.0,17534.0,13261.0,50134.0,69109.0,145200.0,5.0
2,3.0,Yale University,6483.0,12974.0,18627.0,50897.0,71290.0,138300.0,7.0
3,4.0,Massachusetts Institute of Technology,4680.0,11466.0,20771.0,43248.0,67430.0,155200.0,7.0
4,5.0,Princeton University,5659.0,8273.0,9327.0,48088.0,66150.0,139400.0,6.0

In [100]:
top_colleges=top_colleges.apply(lambda x: x.astype(str).str.upper())
top_colleges.columns= top_colleges.columns.str.upper()
top_colleges.head()

,RANK,NAME,UNDERGRADUATE POPULATION,STUDENT POPULATION,NET PRICE,AVERAGE GRANT AID,TOTAL ANNUAL COST,ALUMNI SALARY,ACCEPTANCE RATE
0,1.0,HARVARD UNIVERSITY,13844.0,31120.0,14327.0,49870.0,69600.0,146800.0,5.0
1,2.0,STANFORD UNIVERSITY,8402.0,17534.0,13261.0,50134.0,69109.0,145200.0,5.0
2,3.0,YALE UNIVERSITY,6483.0,12974.0,18627.0,50897.0,71290.0,138300.0,7.0
3,4.0,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,4680.0,11466.0,20771.0,43248.0,67430.0,155200.0,7.0
4,5.0,PRINCETON UNIVERSITY,5659.0,8273.0,9327.0,48088.0,66150.0,139400.0,6.0

In [108]:
college_data_final=pd.merge(college_data_df,top_colleges,how='left', on=['NAME'])
college_data_final.dtypes
college_data_final['RANK'] = college_data_final['RANK'].astype(float)

In [109]:
college_data_final.dtypes

NAME                                            object
ADDRESS                                         object
CITY                                            object
STATE                                           object
ZIP                                             object
TYPE                                            object
DEGREES OFFERED                                 object
CAMPUS SETTING                                  object
CAMPUS HOUSING                                  object
STUDENT POPULATION_x                            object
UNDERGRADUATE STUDENTS                          object
PUBLIC/PRIVATE                                  object
PUBLISHED IN-STATE TUITION AND FEES ($)         object
PUBLISHED OUT-OF-STATE TUITION AND FEES ($)     object
TELEPHONE                                       object
POPULATION                                       int64
LATITUDE                                       float64
LONGITUDE                                      float64
WEBSITE                                         object
RANK                                           float64
UNDERGRADUATE POPULATION                        object
STUDENT POPULATION_y                            object
NET PRICE                                       object
AVERAGE GRANT AID                               object
TOTAL ANNUAL COST                               object
ALUMNI SALARY                                   object
ACCEPTANCE RATE                                 object
dtype: object

In [114]:
college_data_final.sort_values(by=['RANK'], inplace=True)

In [112]:
del college_data_final['STUDENT POPULATION_y']

KeyError: 'STUDENT POPULATION_y'

In [115]:
college_data_final.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION_x,...,LATITUDE,LONGITUDE,WEBSITE,RANK,UNDERGRADUATE POPULATION,NET PRICE,AVERAGE GRANT AID,TOTAL ANNUAL COST,ALUMNI SALARY,ACCEPTANCE RATE
2514,HARVARD UNIVERSITY,MASSACHUSETTS HALL,CAMBRIDGE,MA,02138,FOUR OR MORE YEARS,"ASSOCIATE'S DEGREE , BACHELOR'S DEGREE , POSTB...",CITY,YES,31566.0,...,42.374173,-71.118229,www.harvard.edu,1.0,13844.0,14327.0,49870.0,69600.0,146800.0,5.0
5329,STANFORD UNIVERSITY,,STANFORD,CA,94305,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , POST-MAS...",SUBURB,YES,17381.0,...,37.432982,-122.175060,www.stanford.edu/,2.0,8402.0,13261.0,50134.0,69109.0,145200.0,5.0
6666,YALE UNIVERSITY,WOODBRIDGE HALL,NEW HAVEN,CT,06520,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , POSTBACCALAUREATE CERTIFIC...",CITY,YES,13433.0,...,41.312275,-72.922558,https://www.yale.edu,3.0,6483.0,18627.0,50897.0,71290.0,138300.0,7.0
3356,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,02139-4307,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , DOCTOR'S...",CITY,YES,11574.0,...,42.360125,-71.092098,web.mit.edu/,4.0,4680.0,20771.0,43248.0,67430.0,155200.0,7.0
4578,PRINCETON UNIVERSITY,1 NASSAU HALL,PRINCETON,NJ,08544-0070,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , DOCTOR'S...",SUBURB,YES,8374.0,...,40.347107,-74.657701,www.princeton.edu,5.0,5659.0,9327.0,48088.0,66150.0,139400.0,6.0

In [117]:
college_data_final.rename(columns={"STUDENT POPULATION_x":"STUDENT POPULATION"}, inplace=True)
college_data_final.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,DEGREES OFFERED,CAMPUS SETTING,CAMPUS HOUSING,STUDENT POPULATION,...,LATITUDE,LONGITUDE,WEBSITE,RANK,UNDERGRADUATE POPULATION,NET PRICE,AVERAGE GRANT AID,TOTAL ANNUAL COST,ALUMNI SALARY,ACCEPTANCE RATE
2514,HARVARD UNIVERSITY,MASSACHUSETTS HALL,CAMBRIDGE,MA,02138,FOUR OR MORE YEARS,"ASSOCIATE'S DEGREE , BACHELOR'S DEGREE , POSTB...",CITY,YES,31566.0,...,42.374173,-71.118229,www.harvard.edu,1.0,13844.0,14327.0,49870.0,69600.0,146800.0,5.0
5329,STANFORD UNIVERSITY,,STANFORD,CA,94305,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , POST-MAS...",SUBURB,YES,17381.0,...,37.432982,-122.175060,www.stanford.edu/,2.0,8402.0,13261.0,50134.0,69109.0,145200.0,5.0
6666,YALE UNIVERSITY,WOODBRIDGE HALL,NEW HAVEN,CT,06520,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , POSTBACCALAUREATE CERTIFIC...",CITY,YES,13433.0,...,41.312275,-72.922558,https://www.yale.edu,3.0,6483.0,18627.0,50897.0,71290.0,138300.0,7.0
3356,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,02139-4307,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , DOCTOR'S...",CITY,YES,11574.0,...,42.360125,-71.092098,web.mit.edu/,4.0,4680.0,20771.0,43248.0,67430.0,155200.0,7.0
4578,PRINCETON UNIVERSITY,1 NASSAU HALL,PRINCETON,NJ,08544-0070,FOUR OR MORE YEARS,"BACHELOR'S DEGREE , MASTER'S DEGREE , DOCTOR'S...",SUBURB,YES,8374.0,...,40.347107,-74.657701,www.princeton.edu,5.0,5659.0,9327.0,48088.0,66150.0,139400.0,6.0

In [123]:
college_data_final.to_csv("../Data/Final_College_Data.csv",index=False)

In [118]:
from sqlalchemy import create_engine
import pymongo

In [119]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [120]:
# Declare the database
db = client.collegeandUniversities_db

# Declare the collection
colleges = db.colleges

In [121]:
colleges_report=college_data_final.to_dict("records")
type(colleges_report)
# colleges_report

list

In [122]:
colleges.insert_many(colleges_report)